.flexbox_container{
    display: flex;
    flex-wrap: wrap;
    margin: 10vh 0 0 25vw;
    width: 50rem;
    height: 30rem;
    background-color: pink;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    
}
.flexbox_item{
    width: 10em;
    margin: 1em;
    border: 3px solid #333;
    background-color:#dfdfdf;
}
.flexbox_item1{
    min-height: 10em;
    align-self:flex-end
}
.flexbox_item2{
    min-height: 15em;
}
.flexbox_item3{
    min-height: 20em;
}